<!doctype html>
<title>{% block title %}{% endblock %} - shopa</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
{% block links %}{% endblock %}
<div class="d-flex justify-content-center">
  <div class="row">
  <div class="mb-auto row row-cols-1">
    <div class="col-lg">
      {#<header>#}
        {% block header %}{% endblock %}
      {#</header>#}
    </div>
  </div>
    <div class="col-1 text-nowrap p-3 d-none d-md-block">
      {% for set in sets %}
      <div>
       <a href="{{ url_for('visitor.set', id=sets[set]['id']) }}">{{ set }}</a>
        {% for cat in sets[set]['categories'] %}
          {% set a = sets[set]['categories'][cat] %}
          <div>&nbsp&nbsp&nbsp&nbsp<a href="{{ url_for('visitor.category', id=a) }}">{{ cat }}</a></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="col-11">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
